.pat-dropzone {
    .dz-notice {
        margin-bottom: 0.4rem; //like a label
    }
    .dz-default {
        border-radius: 5px;
        background-color: #f2f1f1;
        border: 3px dotted #ccc;
        margin-bottom: 20px;
        padding: 0.75rem;
        color: #696969;
    }
}
