legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    legend {
        color: $gray-dark;
        border-bottom: 1px solid darken($gray-lighter, 5%);
    }
}

.field {
    margin-bottom: 0.5rem;

    &.error {
        padding: 0.5rem 0.8rem;
        background-color: transparentize($color: $brand-danger, $amount: 0.9);

        label {
            color: darken($color: $brand-danger, $amount: 10%);
        }
        input {
            border: 1px solid $brand-danger;
        }
    }
}

.fieldRequired {
    font-size: 0.7em;
    color: $gray-dark;
}

.formHelp {
    font-size: 0.9em;
    color: $gray-dark;
    font-style: italic;
}

.formControls {
    border-top: 1px solid $gray-light;
    background: $gray-lighter;
    padding: 0.7rem;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'] {
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 0.5rem;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
}

input[type='file'],
input[type='submit'],
input[type='button'] {
    display: inline-block;
    user-select: none;
    border: 1px solid $gray-lighter;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 0.8rem;
    border-radius: 3px;
    cursor: pointer;
    @include antialias;

    &:hover,
    &:focus {
        background-color: lighten($gray-lighter, 3%);
        border-color: darken($gray-lighter, 3%);
    }
    &.focus,
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem transparentize($color: $brand-primary, $amount: 0.75);
    }
    &.disabled,
    &:disabled {
        opacity: 0.65;
        @include box-shadow(none);
    }
    &.context {
        color: white;
        background-color: $brand-info;
        border-color: darken($color: $brand-info, $amount: 5%);

        &:hover,
        &:focus {
            background-color: darken($color: $brand-info, $amount: 5%);
            border-color: darken($color: $brand-info, $amount: 10%);
        }
    }
    &.destructive {
        color: white;
        background-color: $brand-danger;
        border-color: darken($color: $brand-danger, $amount: 5%);

        &:hover,
        &:focus {
            background-color: darken($color: $brand-danger, $amount: 5%);
            border-color: darken($color: $brand-danger, $amount: 10%);
        }
    }
}
